<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>text paste</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body onload="prettyPrint()"> 
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Sintara App</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <%== yield %>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
